<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show User</title>
<link rel="stylesheet" href="./show.css" charset="utf-8"/>
</head>
<body>
	<div id="wrapper">
		<div id="main_content">
			<h3>Submitted Information:</h3>
			<ul>
			<li><p>Name: <%= name %></p></li>
			<li><p>Dojo Location: <%= location %></p></li>
			<li><p>Favorite Language: <%= language %></p></li>
			<li><p>Comments: <%= comment %></p></li>
			</ul>
			<a href="/"><button>Go Back</button></a>
		</div>
	</div>
</body>
</html>
